<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category</key>
	<string>top</string>
	<key>pubDate</key>
	<string>2024-10-22 07:58:00</string>
	<key>article_id</key>
	<string>765a7f0937f5a0cfc84fc7dca025cec9</string>
	<key>title</key>
	<string>Backrezept: „Tarte Bourdaloue“ - Der französische Apfelkuchen</string>
	<key>image_url</key>
	<string>https://cdn.mdr.de/ratgeber/rezepte/erdig-110_v-variantBig16x9_w-576_zc-915c23fa.jpg?version=11779</string>
	<key>link</key>
	<string>https://www.mdr.de/ratgeber/rezepte/bastian-apfelkuchen-100.html</string>
	<key>summary</key>
	<string>Traditionell wird der Klassiker der französischen Pâtisserie mit Birnen gebacken. Aurélie Bastian dagegen kombiniert Äpfel und Zimt, damit der Kuchen eine neue Note bekommt und jedem Hobbybäcker gelingt.</string>
</dict>
</plist>
